h1 {
  color: white;
}

h2 {
  font-size: 1.5rem;
  color: black;
}

h4 {
  color: white;
  font-size: 1rem;
}

h5 {
  font-size: 1.8rem;
  color: white;
}

p {
  color: black;
}

img {
  max-width: 100%;
}

form {
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

.button_form {
  background: white;
  color: black;
  padding: 0.5rem;
}

.smart_main-container {
  background: #00ccff;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  padding: 3rem 2rem;
}

.product_images > div {
  padding: 0 3px 0 0;
  background: white;
}

.product_images > div > img {
  max-width: 100%;
}

.form-control {
  background: #0099cc;
  color: white;
  border: 1px solid white;
  width: 100%;
  border-radius: 0;
}

.form-control::placeholder {
  color: #ffcccc;
}

.form-control:focus {
  background: #100c13;
  color: white;
  border-color: white;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 179, 235, .25);
}

@media (max-width: 750px) {
  .logos {
    text-align: center;
  }

  .logos .col-md-7 {
    margin-top: 3rem;
  }

  html {
    font-size: calc(0.7rem + 0.8vw);
  }
}


/*@media (min-width: 768px) { ... }*/

/*@media (min-width: 992px) { ... }*/

/*@media (min-width: 1200px) { ... }*/

/* ItWill */
/*Стиль маркированного списка для Смарткассы*/
ul {list-style-type: none;}
.type_line li:before {content: "-";}
